.row-container {
  display: flex;
  align-content: space-between;
  justify-content: center;
  margin: 0.2em;
}

p {
  margin-left: 0.5em;
}

h1 {
  margin: 0.6em 0;
  font-weight: 500;
}

h2 {
  margin-right: 0.4em;
}

mat-form-field {
  width: 300px;
}

